<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <!--这里useGeneratedKeys="true" keyProperty="id" 用处是将插入后生成的id值返回给要插入的数据中（插入前的数据是没有id值的）-->
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <update id="updateById">
        update dish
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="name !=null and name !='' ">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="pageQueryCount" resultType="java.lang.Long">
        select count(*) from dish
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select dish.*,category.name as categoryName from dish left join category on dish.category_id = category.id
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by update_time desc
        limit #{startPage},#{pageSize}
    </select>

    <select id="queryOnSaleDishCount" resultType="java.lang.Long">
        select count(*) from dish
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
            #{id}
        </foreach>
        and status = 1
    </select>

    <select id="queryById" resultType="com.sky.entity.Dish">
        select * from dish where id = #{id}
    </select>

</mapper>
