<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="addSetmealDish">
        insert into setmeal_dish
        (setmeal_id,dish_id,name,price,copies)
        VALUES
        <foreach collection="setmealDishes" item="st" separator=",">
            (#{st.setmealId},#{st.dishId},#{st.name},#{st.price},#{st.copies})
        </foreach>
    </insert>

    <select id="queryCountByDishId" resultType="java.lang.Long">
        select count(*) from setmeal_dish
        where dish_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
